.img-logo {
  width: 15px;
}

a {
  text-decoration: none !important;
  color: #4173be;
}

.img-main {
  width: 60px;
}

.welcome-heading{
  font-family: 'Architects Daughter', cursive;
}

.main-button {
 margin: 5px;
 width: 17em;
}

.spacer-15 {
  height: 15px;
}

.spacer-20 {
  height: 20px;
}

.spacer-30 {
  height: 30px;
}

.spacer-50 {
  height: 50px;
}

.v-separator {
  height: 70%;
  margin: 0 auto;
  margin-top: 15%;
  width: 2px;
  background-color: #babfc4;
}

.construction {
  text-align: center;
  margin-top: 4em;
}
.construction::before {
  content: '🚧 ';
}
.construction::after {
  content: ' 🚧';
}

section>main>p {
  font-size: large;
}


.prog-header {
  margin-top: 25px;
  
}

.separator{
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}